@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body{
	font-family: Lato, sans-serif;
	font-size: 14px;
	color: #333;
}
header{
	background-color: #202020;
}


#portada{
	/*
	background-image:url("../img/slide-1.jpg");
	background-size: cover;
	background-position: center;
	padding: 20% 0;
	text-align: center;
	color: #fff;
	*/
}
#portada h3{
	text-transform: uppercase;
}
#portada h3{
	color: #FF9306;
	font-size: 55px;
	font-weight: 300;
}
#portada h2{
	font-size: 75px;
	line-height: 30px;
	font-weight: 700;
	color: #333;
}

.carousel-caption{
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
}

#portada p, #boton p, #otherboton p{
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
}


.section {
	margin: 5% 0;
}


#gallery{
	background-image: url("../img/bg_pic2.jpg");
	background-repeat: no-repeat;
	text-align: center;
	background-size: cover;
}



.texto-corto{
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
}





#boton{
	background-image: url("../img/bg_pic1.jpg");
	padding: 20% 0;
	text-align: center;
	color: #fff;
}



.titulo{
	font-style: italic;
	font-weight: 700;
}



#otherboton{
	background-image:url("../img/bg_pic3.jpg");
	padding: 20% 0;
	text-align: center;
	color: #fff;

}

#boton .fa-chevron-circle-right, #otherboton .fa-chevron-circle-right{
	margin-left: 5px;
}


.btn-light {
	border-radius: 0;
	border: 0px;
	background-color: #FF9306;
	color: #fff;
	
}


.nav-link{
	display: inline;
}




footer{
	background-color: #fff;
	padding: 25px 0;
	border-top: 1px solid #f6f6f6;
	color: #333;
	text-align: center;
}
footer img {
    margin-bottom: 25px;
    margin-top: 10px;
}